*.mustache linguist-language=HTML

domain-management/assets/css/*.min.css linguist-vendored
domain-management/assets/js/*.min.css linguist-vendored
domain-management/assets/fonts/* linguist-vendored
domain-management/assets/src/* linguist-vendored
