html {
    overflow-x: hidden;
}

body {
    padding-top: 70px;
    background-color: #eee;
}

footer {
    padding: 30px 0;
}

hr {
    border-color: #dedede;
}

.btn-group {
    display: flex;
}

.table-vcenter td {
    vertical-align: middle!important;
}