<form method="post" action="?p=edit-password-func" class="form-horizontal">
    <h3>Password ändern<input style="margin-left: 20px;" type="submit" class="btn btn-success" value="Senden"></h3>
    <input type="hidden" value="{{Main.getName}}" name="username">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Nutzername</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="username" value="{{Main.getName}}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Aktuelles Passwort</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="password" name="password">
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword1" class="col-sm-2 control-label">Neues Passwort</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="newPassword1" name="newPassword1">
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword2" class="col-sm-2 control-label">Neues Passwort wiederholen</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="newPassword2" name="newPassword2">
        </div>
    </div>
</form>